
  <mat-dialog-content class="mat-typography" >
<h2 mat-dialog-title> Mapping </h2>

    <table mat-table class="mat-elevation-z8">
      <tr>
        <th mat-header-cell> Headers</th>
       <th mat-header-cell> Columns </th>
      </tr>
      <tr *ngFor="let h of headers">
        <td  mat-cell > {{h.header}} </td>
        <td mat-cell> {{h.column}} </td>
      </tr>
    </table>

    <div appReadexcel #readexcel="readexcel">
    <div *ngIf="readexcel.excelObservable"> 
      <button (click)="loadpreview();" mat-raised-button color="primary"> Preview </button>
      </div>
    

      <div class="cdk-virtual-scroll-data-source-example">
       <cdk-virtual-scroll-viewport  itemSize="50" class="example-viewport"> 
      
      <table class="table table-striped">  
        <tbody>
        <tr *ngFor="let row of readexcel.excelObservable | async; index as i">
          <td  *ngFor="let val of row; index as j">
          <p  *ngIf ="i==0; else table_data" > {{readexcel.headers[j]}} </p>
           <ng-template #table_data>{{val}} </ng-template>
          </td>
        </tr>
      </tbody>
      </table>
      </cdk-virtual-scroll-viewport> 
      </div>
    </div>
  
</mat-dialog-content>
<div mat-dialog-actions>
  <button mat-button (click)="openDialog()" >Preview</button>
  <button mat-button mat-dialog-close mat-dialog-close="false">close </button>
</div>


