<mat-dialog-content class="mat-typography">
  <div class="mappingdiv">
    <h2 mat-dialog-title> Mapping </h2>
    <div>
      <button (click)="loadpreview();" mat-raised-button color="primary"> Preview </button>
    </div>
    <table class="table" style="float: left">
      <thead>
        <tr>
          <th scope="col">header</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let h of headers">
          <td>{{h.header}}</td>
        </tr>
      </tbody>
    </table>
    <table class="table" style="float: left">
      <thead>
        <tr>
          <th scope="col">column</th>
        </tr>
      </thead>
      <tbody cdkDropList (cdkDropListDropped)="drop($event)">
        <tr *ngFor="let c of headers">
          <td cdkDrag cdkDragLockAxis="y">{{ c.column }}</td>
        </tr>
      </tbody>
    </table>

  </div>

  <div class="previewtable" *ngIf="preview">
    <div class="cdk-virtual-scroll-data-source-example">
      <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">

        <table class="table table-striped">
          <tbody>
            <tr *ngFor="let row of data; index as i">
              <td *ngFor="let val of row; index as j">
                <p *ngIf="i==0; else table_data"> {{val}} </p>
                <ng-template #table_data> {{val}} </ng-template>
              </td>
            </tr>
          </tbody>
        </table>
      </cdk-virtual-scroll-viewport>
    </div>
  </div> -->

</mat-dialog-content>